////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
//     ___              _ _           _   _               //
//    / _ \            | (_)         | | (_)              //
//   / /_\ \_ __  _ __ | |_  ___ __ _| |_ _  ___  _ __    //
//   |  _  | '_ \| '_ \| | |/ __/ _` | __| |/ _ \| '_ \   //
//   | | | | |_) | |_) | | | (_| (_| | |_| | (_) | | | |  //
//   \_| |_/ .__/| .__/|_|_|\___\__,_|\__|_|\___/|_| |_|  //
//         | |   | |                                      //
//         |_|   |_|                                      //
//                                                        //
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

// Bootstrap
@import bootstrap

// DataTables
@import datatables/jquery.dataTables
@import datatables/extensions/Responsive/responsive.dataTables
@import datatables/extensions/Buttons/buttons.dataTables

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

// Body
body

  // Main
  main
    margin:
      bottom: 15px

  // Processing
  #products_processing
    position:   fixed
    padding:    15px
    height:     auto
    width:      fit-content
    color:      rgba(255,255,255,1)
    background: rgba(0,0,0,0.85)
    padding:
      top: 15px
    margin:
      left: auto
      top: auto
    &:before
      content: asset_url("loader.gif")
      display: block
      height: 15px
      text:
        align: center

  // Top layer
  .row
    margin:
      left: 0
      right: 0
    &:first-of-type
      padding: 10px
    &:last-of-type
      padding: 10px

  // Numbers
  .dataTables_info
    padding:
      top: 0 !important

  // Columns
  .col-sm-12
    padding:
      left: 0
      right: 0

  // Page Link
  .page-link
    border:
      color: #007bff !important
    &:hover
      border:
        color: #007bff
    &:active,
    &:focus
      background:
        color: black

  // Links
  a,
  button
    &:active,
    &:focus
      outline: none

  // Entries
  #products_length,
  #products_filter
    label
      margin: 0
      white:
        space: nowrap
      input
        display: inline-block
    .form-control
      width: auto !important

  // Pagination (responsive)
  ul
    &.pagination
      padding-inline-start: 0px
      margin:
        bottom: 0px
      @media (max-width: 770px)
        display: block
      > .disabled
        opacity: 0.2
      li
        &.paginate_button
          margin: 0 !important
          padding: 0 !important
          min:
            width: 0 !important
          border: none !important
          background: none !important
          color: inherit !important
          &:hover
            background: none !important
            border: none !important
            box:
              shadow: none !important
          &.active
            a
              &:active,
              &:focus
                background: #007bff !important
          a
            transition: background 0.15s ease-in-out
            &:active,
            &:visited,
            &:focus
              box:
                shadow: none !important
            &:active,
            &:focus
              background: rgba(#007bff, 0.15) !important

  // Table
  table

    // Both
    thead,
    tbody
      tr
        td,
        th
          &.center
            text:
              align: center

    // Header
    thead
      tr
        th
          color: rgba(#fff,1)
          background: rgba(#711FDE,1)
          border:
            top:    2px solid #111 !important
            bottom: 2px solid #111 !important
          vertical:
            align: middle !important

    // Body
    tbody
      tr
        & + tr
          td
            border:
              top: 1px solid rgba(#777,1) !important
              bottom: 0 !important
        td
          transition: background 0.15s ease-in-out
          vertical:
            align: middle !important
          a
            color: rgba(0,0,0,1)
            font:
              weight: bold
            text:
              decoration: underline
            &:hover
              color: rgba(0,0,0,1)

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
