- content_for :javascript do
  :javascript
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({ title: "Home" });
      });

%table#products.table.table-striped.table-hover{"data-source" => "#{products_path(format: :json)}", style: "width:100%;"}
  %thead
    %tr
      %th.id Product ID
      %th.icon Thumb
      %th.name Name
      %th.price Price
      %th.stock Stock
      %th.synced_at Synced At
      %th.created_at Created At
      %th.updated_at Updated At
      %th.sync Actions
  %tbody
