- content_for :javascript do
  :javascript
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({ title: "Home" });
      });

%table#products.table.table-striped{"data-source" => "#{products_path(format: :json)}", style: "width:100%;"}
  %thead
    %tr
      %th ID
      %th Thumb
      %th Name
      %th Price
      %th Stock
      %th Synced At
      %th Created At
      %th Updated At
  %tbody
