- content_for :javascript do
  :javascript
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({ title: "Home" });
      });

%table#products.table.table-striped.table-hover{"data-source" => "#{products_path(format: :json)}", style: "width:100%;"}
  %thead
    %tr
      %th.id
        %span Product ID
      %th.icon
        %span Thumb
      %th.brand
        %span Brand
      %th.name
        %span Name
      %th.price
        %span Price
      %th.stock
        %span Stock
      %th.synced_at
        %span Synced At
      %th.created_at
        %span Created At
      %th.updated_at
        %span Updated At
      %th.sync
        %span Actions
  %tbody
