- content_for :javascript do
  :javascript
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({ title: "Home" });
      });

%table#products{"data-source" => "#{products_path(format: :json)}"}
  %thead
    %tr
      %th ID
      %th Name
  %tbody
